body {
    background: #F3F5FC;
    margin: 40px;
    font-family: 'Inter', sans-serif;
}

.section1 {
    display: inline-block;
}

.simbolo-alura-div {
    width: 60%;
}

.simbolo-alura {
    /* Vector */
    height: 3.5rem;
}

.contenido1 {
    margin: 0 0 0 14rem;
}

.textarea-estilo {
    outline: none;
    background: none;
    border: 0;
    resize: none;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    margin: 3rem 0 0 0rem;
    width: 46rem;
    height: 34.8rem;
}

textarea::placeholder {
    /* Ingrese el texto aqui */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #0A3871;

}

.div-exclamacion {
    display: flex;
    padding-bottom: 1rem;
    margin-top: 3.3rem;
}

.texto-exclamacion {
    /* Solo letras minúsculas y sin acentos */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 0 0 0.4rem;
}

.botones {
    display: flex;
}


.boton-encriptar {
    background: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    border: none;
    /* Button */

    width: 22rem;
    height: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 2rem;
}

.boton-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Button */
    color: #0A3871;
    box-sizing: border-box;

    /* Button */

    width: 22rem;
    height: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.creadopor {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #495057;

    opacity: 0.8;
}

.creadopor em {
    font-style: italic;
}

a:link,
a:visited {
    text-decoration: none;
    color: #495057;
}

a:hover {
    color: orange;
}

.section2 {
    width: 30%;
    height: 92vh;
    float: right;
    background: #FFFFFF;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    /*box-shadow: 0px 0px 5px 0px #000000,        0px 0px 5px 0px #000000;
    */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-elementos {
    margin: auto 3rem;
}

.section2-titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;
}

.section2-mensaje {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;
}


#section2-textarea {
    display: none;
    resize: none;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #495057;
        border: none;
        padding: 0;
        height: 40rem;
        position: relative;
        bottom: 3rem;
    
}

#section2-textarea:active {
    border: none;
}

#boton-copiar {
    display: none;
    background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        box-sizing: border-box;
        width: 18rem;
        height: 4rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        bottom: 7.9rem;
    
}


/* queries */
@media (max-width:1600px) {


.section1{
width: 64%;
margin: 0 0 0 0;

}

.contenido1{
margin: 0 0 0 3rem;
}

.textarea-estilo{
height: 16rem;
}

.div-exclamacion{
margin-top: 0;

}

.section2{
    display: flex;
        justify-content: center;
        align-items: center;
}

#section2-textarea {
height: 29rem;
    bottom: 4rem;
}
/* .section2-elementos{
margin: 0 1rem;
} */

.muñeco{
width: 95%;
}

#boton-copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    box-sizing: border-box;
    width: 16rem;
    height: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    bottom: 7.9rem;


}
}



@media (max-width:1023px) {


    .contenido1 {
        margin: auto;
    }

    .botones {
        width: 44rem;
    }

.section2 {
        width: 45rem;
        height: auto;
        padding: 3rem 0;
        float: none;
    }
#section2-textarea {
      bottom: 0;

}
    
    .muñeco {
        display: none;
    }

    #boton-copiar{
    background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        box-sizing: border-box;
        width: 22rem;
        height: 4rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        position: static;
    }
}

@media (max-width:550px) {


    .contenido1 {
        margin: auto;
    }

    .textarea-estilo {
        width: 17rem;
    }

    .botones {
        width: auto;
        display: grid;
    }

    .boton-encriptar {
        width: 17rem;
    }

    .boton-desencriptar {
        width: 17rem;
        margin-top: 1rem;
    }

    .muñeco {
        display: none;
    }

    .section2 {
        width: auto;
        height: auto;
        padding: 3rem 0;
        float: none;
    }

        #boton-copiar {
            width: 17rem;
 
        }

}

